<h1 mat-dialog-title>Thêm mới bài viết</h1>
<div mat-dialog-content>
    <form [formGroup]="postForm">
        <mat-form-field appearance="outline">
            <mat-label>Chủ đề</mat-label>
            <input
                formControlName="title"
                matInput
                placeholder="Công việc cần tuyển dụng"
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Loại ngành nghề</mat-label>
            <mat-select
                formControlName="category"
                placeholder="Loai ngành nghề"
            >
                <mat-option value="1">A</mat-option>
                <mat-option value="2">B</mat-option>
                <mat-option value="3">C</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Chọn hạn nộp hồ sơ</mat-label>
            <input formControlName="time" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <label for=""><h1>Chức vụ</h1></label>
        <mat-radio-group formControlName="role" class="example-radio-group">
            <mat-radio-button
                class="example-radio-button"
                *ngFor="let item of roleList"
                [value]="item"
            >
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-label>Mức lương</mat-label>
            <input
                formControlName="salary"
                matInput
                type="number"
                placeholder="Mức lương mong muốn"
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Miêu tả</mat-label>
            <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
    </form>
</div>
<button mat-raised-button color="warn" mat-dialog-close>Close</button>
<button style="margin-left: 8px" mat-raised-button color="primary" (click)="addProduct()">
    {{actionBtn}}
</button>
